header {
    background: tomato;
    margin: 10px;
    padding: 10px;
}
header nav {
    
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
    margin: 10px;

}
section {
    width: 70%;
    background: tomato;
    margin:  10px;
    padding: 10px;
    box-sizing: border-box;
}
main{
    display: flex;
}
section h1 {

}
article {
    background: yellowgreen;
    margin-bottom: 10px;
    padding: 10px;
}
article h2 {

}
article p {

}
aside {
    width: 30%;
    background: tomato;
    margin: 10px;
    padding:  20px;
    box-sizing: border-box;
}
footer {
    place-self: absolute;
    left: 0px;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: red;

}
footer address {

}
footer adress a {
    display: block;
}
a
b